/*Universal Selector that includes any border or padding within
the width and/or height for any element you set> */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Semantic Structure Styling of all elements within the <body> element*/
body {
    background-color: #d9dcd6;
}

/*Semantic Structure Styling of <header> element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Class Selector to change the Color of the letter grouping "seo"
within the header to be different than the other letters */
.seo {
    color: #d9dcd6;
}

/*Semantic Structure Styling of Navigation Links (<nav> element) */
a {
    color: #ffffff;
    text-decoration: none;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Class Selector of <figure> element - makes image under the header visible*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Semantic Structure - Sets font size for all <p> elements */
p {
    font-size: 16px;
}
/*Class Selectors - set positioning of images within the <main> element*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*
Added H2 Headings "Products & Services" & "Benefits" to HTML in order to add additional accessibility structures to make sense of what is being presented on the page for site visitors who are visually impaired. This will allow the screen reader to give the categories for what the client is trying to present. 

The following class selector makes those H2 headings invisible to the visual site but leaves it available for the screen reader.

Utitlized MIT Licensed Code avaialble at @link https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link. Full citation available in README.md */

.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
/*Semantic Structure Styling for All information on Products & Services Offered
by Horiseon */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Class Selector for Each Products & Services Offered
by Horiseon */
.product-card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.product-card img {
    max-height: 200px;
}

.product-card h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Semantic Structure Styling for All Benefits of the Products 
& Services Offered by Horiseon*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Class Selector for Each Benefit Customers will recieve from the
Products & Services Offered by Horiseon */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Semeantic Structure Styling for <footer> element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
